* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.header-right {
    padding: 10px;
}

.header-right a {
    padding: 10px;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    opacity: 0.7;
}

.container-fluid {
    padding: 50px;
}

footer {
    height: 30vh;
}
